import { useAtom } from "jotai";
import { searchParamAtom } from "../atom/atoms";
import { listAtom } from "../atom/atomActions";
import { ColumnProps } from "antd/lib/table";
import { DataItem } from "../data";
import moment from "moment/moment";
import React, { Fragment } from "react";
import { Divider, message, Popconfirm, Tag } from "antd";


export const useList = ({delMutate, invalidMutate, editModelShow}: any) => {
  const [list] = useAtom(listAtom);
  const result = list?.data?.result;
  const [searchParam, setSearchParam] = useAtom(searchParamAtom)

  const edit = (record: Partial<DataItem>) => {
      editModelShow(record)
  }

  const columns: ColumnProps<DataItem>[] = [
    {
      title: '姓名',
      dataIndex: 'name',
      key: 'name',
      ellipsis: true,
      width: 180
    },
    {
      title: '状态',
      dataIndex: 'state',
      key: 'state',
      ellipsis: true,
      width: '100px',
      render: (value: any) => {
        if (value?.value === 'disabled') {
          return <Tag color="red">停用</Tag>
        } else {
          return <Tag color="green">启用</Tag>
        }
      }
    },
    {
      title: '创建时间',
      dataIndex: 'createTime',
      key: 'createTime',
      width: '200px',
      render: (text: string, record: any) => (
          <span>{moment(record.createTime).format('YYYY-MM-DD HH:mm:ss')}</span>
      ),
      ellipsis: true,
    },
    {
      title: '操作',
      width: '200px',
      align: 'center',
      fixed: 'right',
      render: (record: any) => (
          <Fragment>
            <a onClick={() => {
                edit(record as Partial<DataItem>)
            }}>编辑</a>
            <Divider type="vertical" />
            <Popconfirm
                getPopupContainer={() => document.querySelector('body') as HTMLElement}
                title={`确认${ record.state?.value == 'disabled' ? '启用' : '停用' }？`}
                onConfirm={() => {
                  invalidMutate([record]).then((res: any) => {
                    if (res.status === 200) {
                      list.refetch()
                      message.success(`${ record.state?.value == 'disabled' ? '启用' : '停用' }成功`)
                    }
                  })
                }}
            >
              <a>{ record.state?.value == 'disabled' ? '启用' : '停用' }</a>
              <Divider type="vertical" />
            </Popconfirm>
            <Popconfirm
                getPopupContainer={() => document.querySelector('body') as HTMLElement}
                title="确认删除？"
                onConfirm={() => {
                  delMutate([record.id]).then((res: any) => {
                    if (res.status === 200) {
                      list.refetch()
                      message.success('删除成功')
                    }
                  })
                }}
            >
              <a>删除</a>
            </Popconfirm>
          </Fragment>
      ),
    },

  ];

  return {
      ...list,
      dataSource: result?.data || [],
      page: {
        total: result?.total || 0,
        pageIndex: result?.pageIndex || 0,
        pageSize: result?.pageSize || 10,
      },
      columns,
      searchParam,
      setSearchParam
    };
};
